.conteneur{
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.images{
	width: 100px;
    height: 100px;
    text-align: center;
}

.connexion{
background-color: yellow;

}

.logo{
	display: flex;
	justify-content: center;
}

.barre{
	display: flex;
	justify-content: center;
	padding-bottom: 10px
}

.boutons{
	display: flex;
	justify-content: center;
	padding: 10px;
}

.boutons{
color:#f4f4f4;

}

.corona{

}


.border-flex{
	border: 2px solid red;
}


.message{
	display: flex;
	justify-content: center;
	padding-bottom: 10px
}

.bottom{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	background-color: #f2f2f2;
	padding: 15px;

}
.bottom{
	color: #5f6368;
	font-family: arial;
}

.france{
	display: flex;
	justify-content: flex-start;
	background-color: #f2f2f2;
	padding: 15px;
	color: #5f6368;
	font-family: arial;


}